<style>

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.menuBanner{
  min-height:74px; 
  
  display:flex; 
  align-items:center; 
  justify-content:center; 
  
  background-image:url("{{ section.settings.desktopBg | img_url: 'master' }}"); 
  background-color: black; 
  
  background-repeat:no-repeat; 
  background-size:cover; 
  background-position:bottom center; 
  
}
.menuBannerText {
  text-align:center; 
  text-transform:uppercase; 
  font-weight:700; 
  font-size:24px; 
  font-family: "Inter", sans-serif;
  color:white; 
  letter-spacing:4px;
}

@media(max-width:620px) {
  .menuBanner{
  	min-height:64px;
  background-image:url("{{ section.settings.mobileBg | img_url: 'master' }}");     
    
  }
  .menuBannerText {
    font-size: 18px;
    max-width: 252px;
    letter-spacing: 3px;
    line-height: 24px;

  }
  .dashFixCstm {
    display:none; 
  }
}

  
</style>



{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
    assign social_icons = false
  endif
  if section.settings.enable_country_selector or section.settings.enable_language_selector
    assign language_country_selector = true
  endif
  if section.blocks.size > 0
    assign announcement_bar = true
  endif
-%}

{% if social_icons %}
  {{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{% endif %}

<div
  class="utility-bar color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator and section.blocks.size > 0 %} utility-bar--bottom-border{% elsif section.settings.show_line_separator and section.settings.show_social and social_icons%} utility-bar--bottom-border-social-only{% endif %}{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header-localization{% endif %}"
  {{ block.shopify_attributes }}
>
  <div class="utility-bar__grid{% if announcement_bar and language_country_selector or section.settings.show_social and social_icons %} utility-bar__grid--3-col{% elsif language_country_selector or section.settings.show_social and social_icons %} utility-bar__grid--2-col{% endif %}">

    
  <div class="menuBanner">
    <div class="menuBannerText">{{ section.settings.text }}</div>
  </div> 

    
</div>
</div>


{% schema %}
  {
  "name": "Announcement Banner",
  "tag": "section",
  "class": "section ann-banner-cstm",
  "settings": [

    {
      "type":"html",
      "id":"text",
      "label":"Banner Content",
      "default":"Banner Text",
    },
    {
      "type":"image_picker",
      "id":"desktopBg",
      "label":"Desktop Background"
    },
    {
      "type":"image_picker",
      "id":"mobileBg",
      "label":"Mobile Background"
    }
    
  ],
  "presets": [
    {
      "name": "Announcement Banner",
      "category": "Custom Built"
    }
  ]
  }
{% endschema %}
